<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.me.test.mapper.CollectMapper">


        <resultMap id="getCollectActivityMap" type="Collect">
         <id column="collect_id"  property="collect_id"></id>
         <result column="act_id" property="act_id"></result>
         <result column="openid" property="openid"></result>
         <result column="nickname" property="nickname"></result>
         <result column="avatar"   property="avatar"></result>
         <result column="collectcore" property="collectcore"></result>
            <collection property="actiVities" ofType="ActiVity" javaType="list">
                <id column="id" property="id"></id>
                <result column="act_type" property="act_type"></result>
                <result column="content" property="content"></result>
                <result column="publish_time" property="publish_time"></result>
                <result column="act_addr" property="act_addr"></result>
                <result column="detail_addr" property="detail_addr"></result>
                <result column="act_time" property="act_time"></result>
                <result column="nick_name" property="nick_name"></result>
                <result column="avatar_url" property="avatar_url"></result>
                <result column="open_id" property="open_id"></result>
                <result column="link" property="link"></result>
                <result column="title" property="title"></result>
                <result column="count" property="count"></result>
            </collection>
</resultMap>

    <select id="getCollectActivity" parameterType="String"  resultMap="getCollectActivityMap">
        select  activity.*  from collect left join activity
      on collect.act_id=activity.id where  collect.openid = #{openid}
    </select>

    <select id="addCollect" parameterType="Collect">
        INSERT INTO wechat.collect (collect_id,act_id,openid,collectcore,avatar,nickname)
        values (#{collect_id},#{act_id},#{openid},#{collectcore},#{avatar},#{nickname});
    </select>

    <select id="queryByCollectcore" parameterType="String" resultType="Collect">
        select * from wechat.collect
        where collectcore=#{collectcore};
    </select>

   <select id="countCollect" parameterType="Integer" resultType="Integer">
       select   sum(act_id= #{act_id}  )from collect;
   </select>

    <delete id="deleteCollect" parameterType="Integer">
        delete from wechat.collect where collect_id = #{collect_id};
    </delete>

</mapper>
