<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.me.test.mapper.SignInMapper">

    <!--
        mapper接口映射文件要保证两个一致：
        1，mapper接口的全类名和映射文件的namespace一致
        2，mapper接口中的方法的方法名要和映射文件中的sql的id保持一致
    -->
  <insert id="add" parameterType="SignIn">
      insert into wechat.sign_in (open_id,days,points,last_sign_time)
      values (#{open_id},#{days},#{points},#{last_sign_time});
  </insert>

    <select id="querySignInById" resultType="SignIn">
        select * from wechat.sign_in
        where open_id=#{open_id}
    </select>

    <update id="updateSignIn" parameterType="SignIn" >
        update wechat.sign_in
        set days = #{days},last_sign_time = #{last_sign_time},points = #{points}

        where open_id=#{open_id};
    </update>

    <select id="queryByOpenId" parameterType="String" resultType="SignIn">
        select * from wechat.sign_in
        where open_id=#{open_id};
    </select>

</mapper>
